<%- include('partials/header', { pageTitle: 'Home' }) %>


    <div class="container">
        <h1>
            <%= title %>
        </h1>

        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum illo sed quo sapiente fugiat iste dicta.
            Earum numquam voluptatem excepturi impedit, praesentium fugiat libero vero accusamus incidunt explicabo
            commodi ipsam ullam sequi nisi obcaecati facere, vitae deserunt minima neque nobis ab tenetur. Accusantium
            ad suscipit beatae iste a ipsa nesciunt doloremque vel! Libero rem ipsum consequatur ullam, laborum saepe
            deserunt!</span>
    </div>




    <%- include('partials/footer') %>