<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle ? pageTitle : "page" %>
    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header>
        <div>
            LOGO
            <p>Welcome to Dummy Website!</p>
        </div>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About Us</a>
            </li>
            <li>
                <a href="/Contact">Contact Us</a>
            </li>
        </ul>
    </header>